# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# SQLite databases
*.sqlite
backend/database.sqlite

# Environment variables
.env
.env.local
.env.production
backend/.env
frontend/.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
